<section class="showcase" [class.active]="showcaseActive">
  <header>
    <a href="#" class="logo">
      <img src="../assets/images/logo_h_big_nobg.png">
    </a>
    <div class="toggle" [class.active]="menuToggleActive" (click)="toggleMenu()"></div>
  </header>
  <div class="content">
    <div class="data">
      <h1 *ngIf="!this.globalService.registerComponent && !this.globalService.loginComponent">Welcome to your musuem, <a (click)="showRegisterComponent()">register</a> or <a (click)="showLoginComponent()">login</a> to watch your art</h1>
      <app-register *ngIf="this.globalService.registerComponent"></app-register>
      <app-login *ngIf="this.globalService.loginComponent"></app-login>
    </div>
    <div class="slideshow-container">
      <div *ngFor="let slide of slides; let i = index" class="mySlides fade" [style.display]="i === this.slideIndex ? 'block' : 'none'">
        <img [src]="slide.src">
      </div>
    </div>
  </div>
  <ul class="social">
    <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
    <li><a href="#"><img src="https://i.ibb.co/x7P24fL/tiktok.png"></a></li>
  </ul>
</section>
<div class="menu">
  <ul>
    <li><a href="http://localhost/issart/pages/index.php">Home</a></li>
    <li>
      <div class="dropdown">
        <a href="http://localhost/issart/pages/search.php" class="dropbtn">Buscador de obras</a>
        <div class="dropdown-content">
          <a href="#">Fotografía</a>
          <a href="#">Streetwear</a>
          <a href="#">Pintura</a>
          <a href="#">Otro...</a>
        </div>
      </div>
    </li>
    <li><a href="http://localhost/issart/pages/product.php">Tu arte</a></li>
    <li><a href="http://localhost/issart/pages/register.php">Registro</a></li>
    <li><a href="http://localhost/issart/pages/login.php">Login</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</div>
<router-outlet />